{% extends 'layouts/base.njk' %}

{% set authorName = author if author else 
  site.authorName %}
{% set introSummary %}
<div class="l-stack">
  <p class="post-meta">
    A {{ helpers.getReadingTime(content) }} minute read
  </p>
  {% if description %}
    <p class="post-description">{{ description | safe }}</p>
  {% endif %}  
</div>
{% endset %}

{% block content %}
  <div class="l-stack">
    <article class="h-entry t-page" class="l-container">
      <div class="l-stack l-stack--large">
        {% include "partials/post-intro.njk" %}
        <div class="l-container l-measure">
          <div class="l-stack" >
            {{ content | safe }}
          </div>
        </div>
      </div>
    </article>    
    </div>
    <div class="l-container l-measure">
      {% include "partials/services/keystone-comments.njk" %}
    </div>
  </div>
{% endblock %}