---
import { Icon } from 'astro-icon';
import { getHomePermalink, getPermalink } from '~/utils/permalinks';

const social = [
  { label: 'Twitter', icon: 'tabler:brand-twitter', href: 'https://twitter.com/jmwind' },
  { label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/jmwind' },
  { label: 'LinkedIn', icon: 'tabler:brand-linkedin', href: 'https://ca.linkedin.com/in/jmlemieux-613' },
  { label: 'EMail', icon: 'tabler:mail', href: 'mailto:jml@buildrightside.com' },
];
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-2">
      <a class="inline-block font-bold text-xl" href={getHomePermalink()}>Build Right Side</a>
    </div>
    <div class="md:flex md:items-center md:justify-between">
      <ul class="flex md:order-1 -ml-2 md:ml-4 md:mb-0">
        {
          social.map(({ label, href, icon }) => (
            <li>
              <a
                class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                aria-label={label}
                href={href}
              >
                <Icon name={icon} class="w-5 h-5" />
              </a>
            </li>
          ))
        }
      </ul>

      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Made by Jean-Michel. All rights reserved. My DMs are open.
      </div>
    </div>
  </div>
</footer>
