<header class="l-container l-measure">
  <div class="l-post-intro">
    <h3>{{ introHeading }}</h3>
    {% if introSummary %}
      <div>{{ introSummary | safe }}</div>
    {% endif %}
  </div>
</header>