<footer role="contentinfo">
  <div class="theme-secondary theme-bg theme-color">
    <div class="l-container">
      <div class="l-site-footer">
        <div class="l-site-footer-split">
          <div class="l-stack">
            <div class="l-site-name l-site-name--footer">
              <img src="/logo.webp" />
              <div class="l-site-title site-title">{{ site.name }}</div>
            </div>           
          </div>
            <a href="">Twitter</a>
            <a href="">GitHub</a>
            <a href="">LinkedIn</a>
            <a href="">Email</a>            
          </div>
        </div>
        <p class="powered-by">Powered by <a href="https://www.11ty.dev/">Eleventy</a></p>
      </div>
    </div>
  </div>
</footer>