---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import HighlightedPosts from '~/components/blog/HighlightedPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <section>
    <div class="max-w-4xl mx-auto px-4 sm:px-12 text-gray-500 dark:text-slate-400">
      <div class="py-12 md:py-20">
        <div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
        <p class="text-2xl sm:inline">
          <em>“The key is always to see the thing-as-it-is in all its unique and marvelous complexity.”</em><br/> - Betty Edwards
        </p>
        </div>
        <div class="text-2xl text-black dark:text-gray-300 sm:inline">
          <p>            
          Building companies is rewarding, and hard as hell. My name is Jean-Michel. I've been building 
          software, teams, and companies for 30 years. 
          </p>
          <p class="py-3">
          I'd like to help you, not with all the answers. 
          Help you see what you may be overlooking. You can't improve what you can't see. As an engineer
          it's also important to accept the complexity of what we're doing and understand it so that you
          make decisions that matter.
        </p>
      </div>
      </div></div>
    </section>
  
    <a id="book"/>
    <Features
    title="The Book"
    subtitle=" "
    items={[
      [
        {
          title: 'Chapter 1: The problem upgrade chart',
          description:
            'How do you handle/manage the stress of working in a hyper-growth company where there\'s always too much to do?',
          icon: 'tabler:chart-bar',
          href: 'problem-upgrade-chart'
        },
        {
          title: 'Chapter 3: Layerinitis',
          description:
            'What virus infects growing engineering orgs the most?',
          icon: 'tabler:components',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Chapter 2: Platform investments',
          description:
            'How much of your r&d spend should be focused on platform work?',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />
  


  <!-- FAQs Widget ******************* -->
  <a id="about"/>
  <FAQs
    title="Hi, I'm Jean-Michel"
    subtitle="I'm a software developer and have built and led teams of 1 to 3,000. I was a founding member on the Eclipse platform and open source team, and then led and scaled the engineering orgs as CTO and VPE at Atlassian and Shopify from hundreds to several thousand developers."
    items={[
      [
        {
          question: 'Engineering Enablement Podcast: How much should you invest in Platform work?',
          href: 'https://getdx.com/podcast/27',
          answer:
            'This is a great follow-up to Chapter 2 where I suggest that teams invest 50% of their roadmap on platform investments. And the responsibilities of engineering leaders in championing this work. (2022 - 22 mins)',
        },
        {
          question: 'Project to Product Podcast: What I\'ve learned leading engineering teams',
          href: "https://projecttoproduct.org/podcast/jean-michel-lemieux/?utm_source=podcast&utm_medium=speaker&utm_campaign=pod_2022-05-03_mik-plus-one-jean-michel-lemieux",
          answer:
            "Mik is CEO of Tasktop and we worked together 20 years ago on the Eclipse project. We catch-up and talk about a wide range of topics around engineering, architecture, scale, organizational design, and flow.",
        }
      ],
      [
      {
          question: 'TeamGage Podcast: Why is getting alignment on teams is so hard?',
          href: "https://www.youtube.com/watch?v=wvWy3JPITSw",
          answer:
            "A deep dive into the history of autonomy and our quasi-religous relationship with it. And how it gets in the way of true and much needed real-time alignment.",
        },        
      ],
    ]}
  />
  
</Layout>
