$l-stack-bp: 600px;

@media (min-width: $l-stack-bp) {
  .l-post-stack {
    --l-stack-flex-basis: calc(50% - #{$BASE_UNIT * 0.5});
  }
}

.l-post-stack {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-post-stack>* {
  margin-top: 3rem;
  flex-basis: var(--l-stack-flex-basis, 100%);
  flex-shrink: 0;
}

.post-stack-item {
  list-style: none;
}

.post-stack-item p {
  font-size: smaller;
}

.post-stack-item *+* {
  margin-top: 0.25rem;
}

.post-stack-date {
  font-size: $SCALE--1;
  font-style: italic;
  color: $COLOR_LIGHT;
}

.l-post-stack .img-container {
  width: 100%;
  overflow: hidden;
}

.l-post-stack img {
  border-radius: 5px;
  height: 10em;
  width: 100%;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
}

.l-post-stack img:hover {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  /* IE 9 */
  -moz-transform: scale(1.5);
  /* Firefox */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
}